<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shops!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shops/style.css' %}">
  </head>
  <body>
    {% verbatim %}
    <!--templates-->
    <script type="text/x-template" id="login">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="card">
            <form class="form-signin">
              <h2 class="form-signin-heading text-center">Please Sign In</h2>
              <label for="input_email" class="sr-only">Email address</label>
              <input type="email"
                     v-model="email"
                     id="input_email"
                     class="form-control"
                     placeholder="Email address"
                     required="" autofocus="">
              <label for="input_password" class="sr-only">Password</label>
              <input type="password"
                     id="input_password"
                     v-model="password"
                     class="form-control"
                     placeholder="Password"
                     required="">
              <button class="btn btn-lg btn-primary btn-block"
                      v-on:click.prevent="perform_login"
                      >Sign in</button>
            </form>
          </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4"></div>
      </div>
    </script>

    <script type="text/x-template" id="shop">
      <div class="card border">
        <h4 class="card-title shop-title">{{title}}</h4>
        <div class="card-block text-center">
          {% endverbatim %}
          <img class="card-img img-fluid border" style="width:100%"
               src="{% static 'shops/shop-placeholder.png' %}">
          {% verbatim %}

          <div v-if="!preferred">
            <button type="button"
                    class="btn btn-danger">Dislike</button>
            <button type="button"
                    v-on:click.prevent="like_shop"
                    class="btn btn-success btn-like">Like</button>
          </div>
          <div v-else>
            <button type="button"
                    v-on:click.prevent="unlike_shop"
                    class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="shops">
      <div>
        <div class="row shop-row card-group"
             v-for="shop_row in rows_of_four">
          <div class="col-sm-3 col-md-3 col-lg-3"
               v-for="shop in shop_row"
               :key="shop.url">
            <shop :title="shop.title"
                  :url="shop.url"
                  :http-config="httpConfig"
                  :preferred="preferred"></shop>
          </div>
        </div>
      </div>
    </script>


    <script type="text/x-template" id="admin">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group row">
              <div class="col">
                <div class="card-header">
                  Administrators
                </div>
              </div>
            </div>
            <div class="form-group row"
                 v-for="admin in users"
                 v-if="admin.is_superuser==true"
                 :key="admin.url">
              <div class="col-sm-6">
                <input type="text"
                       readonly
                       class="form-control-plaintext"
                       :value="admin.email">
              </div>
              <div class="col-sm-6">
                <button type="submit"
                        class="btn btn-dark mb-2 float-right"
                        v-on:click="demote_admin(admin)">
                  Make User
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group row">
              <div class="col">
                <div class="card-header">
                  Users
                </div>
              </div>
            </div>
            <div class="form-group row"
                 v-for="user in users"
                 v-if="user.is_superuser==false"
                 :key="user.url"
                 >
              <div class="col-sm-6">
                <input type="text"
                       readonly
                       class="form-control-plaintext"
                       :value="user.email">
              </div>
              <div class="col-sm-6">
                <button type="submit"
                        class="btn btn-dark mb-2 float-right"
                        v-on:click="promote_user(user)">
                  Make Admin
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 style="font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">
              Load Initial Data
            </h1>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <input type="file"
                   id="shop_file"
                   ref="shop_file"
                   v-on:change="handleFileUpload()"
                   >
<button class="btn btn-lg btn-dark"
                      v-on:click="upload_shops"
                      >Load Data</button>

            <div class="col-sm-6 col-md-6 col-lg-6">
            </div>

          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg=6">
                          </div>
          </div>
          </div>
        </div>
      </div>


    </script>
    <!---->


    <div id="app">
      <div class="container">
        <div class="row">
          <ul class="nav ml-auto"
              v-if="active_component!='app-login'">
            <li class="nav-item">
              <a class="nav-link"
                 v-on:click="admin_settings"
                 v-if="user.is_superuser"
                 href="#">Admin Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"
                 v-on:click="view_all_shops"
                 href="#">All Shops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 v-on:click="view_preferred_shops"
                 href="#">My Preferred Shops</a>
            </li>
          </ul>
        </div>

        <login v-if="active_component=='app-login'"
               v-on:authenticated="login"
               >
        </login>
        <admin v-if="active_component=='app-admin-area'"
               :http-config="httpConfig"
               >
        </admin>
        <shops v-if="active_component=='app-all-shops'"
               :shops="all_shops"
               :http-config="httpConfig"
               >
        </shops>
        <shops v-if="active_component=='app-preferred-shops'"
               :preferred="true"
               :http-config="httpConfig"
               :shops="user.shops">
        </shops>
      </div>

    </div>




{% endverbatim %}



    <script src="{% static 'shops/bundle.js' %}"></script>

  </body>
</html>
